.arrow-left {
  background-image: url("../img/arrow-left.png");
}

.borderless td, .borderless th {
  border: none;
}

.menu {
  padding: 2rem 2rem 22.6rem 2rem;
  height: auto;
}


.menu .title {
  color: #99ff55;
}

#button-back {
  padding-bottom: 2rem;
}

.menu .playlist-name {
  border: none;
  border-bottom: 1px solid #3cc46f;
  background: transparent;
  color: #575757;
  font-size: 16px;
  width: 16rem;
  padding: 7px;
}

.menu input, button {
  font-family: "Verdana";
}

.menu .create {
  padding: 1.2rem 0 0 10rem;
}

.menu .create .active{
  background-color: #2fa42f;
  border: none;
  border-radius: 1rem;
  width: 6rem;
  height: 2rem;
}

.menu .create .inactive{
  background-color: transparent;
  border: 1px solid #2d2c2c;
  border-radius: 1rem;
  width: 6rem;
  height: 2rem;
  color: #2d2c2c;
}

#playlist-workspace {
  background-image: url("../img/playlist-gradient.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0 3rem;
}

#playlist-icon {
  position: absolute;
  bottom: 2rem;
}

.workspace-title {
    color: #212121;
    margin: 20px 0;
    font-size: 50px;
}

.pl-name {
  font-family: 'helvetica';
  font-size: 18px;
}