footer {
    background-color: #cccccc;
    color: #8c8c8c;
    height: 50px;
    padding: 13px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header {
    background-color: #2fa42f;
    padding: 13px;
    color: #fff;
    width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}

/* PLAYLIST FORM */

.create-form {
    border: none;
    border-bottom: 1px solid #2fa42f;
    background: rgba(0,0,0,0);
    color: #575757;
    font-size: 16px;
}

.create-form::placeholder {
    font-size: 14px;
}

.create-form-title{
    color: #279227;
    margin-bottom: 10px;
}

#music-group {
    margin-top: 14px;
}

/* WORKSPACE */

#workspace {
    backgroung-color: #eee;
    padding: 20px 20px;
}

.title-workspace {
    color: #8c8c8c;
}

.visualization-mode {
    padding-top: 20px;
}

a:link, a:visited {
    text-decoration: none;
    color: #2fa42f;
}

a:hover {
    color: #10760b;
}

.list {
    margin-top: 20px;
    color: #279227;
}

/* SEARCH */

#search-form {
    border-radius: 15px;
}

/* ALERT */

.box-alert {
    background-color: #F2DEDE;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 5px;
}

.box-alert-message {
    color: #AF4341;
    font-size: 15px;
}

.jumbotron {
    padding-top: 25px;
    margin-bottom: 50px    ;
}

#viewport {
    border: solid 1px black;
    width: auto;
}