footer {
    background-color: #cccccc;
    color: #8c8c8c;
    height: 50px;
    padding: 13px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header {
    background-color: #2fa42f;
    padding: 13px;
    color: #fff;
}