<div id="workspace" class="row" >

    <div class="col-3" ng-controller="playlistFormCtrl">

        <h5 class="create-form-title"> Create your playlist</h5>

        <input type="text" class="create-form" ng-model="playlistField" placeholder="Playlist name">
        <alert class="col-10" ng-show="!playlistField && playlistField.$touched">
            playlist inválida!
        </alert>

        <fieldset id="music-group">
            <div ng-repeat="music in musics">
                <input
                       type="text"
                       class="create-form"
                       ng-model="musics[musics.indexOf(music)].name"
                       ng-blur="add();"
                       placeholder="Music {{musics.indexOf(music) + 1 }}">
                <bs-glyphicon ng-click="remove(musics.indexOf(music));"
                              style="color: #ffb1a0"
                              icon="glyphicon glyphicon-remove"></bs-glyphicon>
                <alert class="col-10" ng-show="verifyMusicEmpty(musics.indexOf(music));">
                    música inválida!
                </alert>
            </div>
        </fieldset>

        <div class="btn-group" style="margin: 20px 65px;">
            <button ng-click="reset();" class="btn btn-danger btn-sm">Reset</button>
            <button ng-disabled="!btnEnable();"
                    ng-click="createPlaylist();"
                    class="btn btn-success btn-sm">Create</button>
        </div>

    </div>

    <div class="jumbotron col-9" ng-controller="workspaceCtrl">
        <div class="row">
            <div class="col-9">
                <h1 class="title-workspace">Playlists</h1>
                <div class="">
                    <a ui-sref="playlists">Graph Visualization</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <search></search>
            <table class="table table-hover table-striped table-sm list">
                <thread>
                    <tr>
                        <th width="50"></th>
                        <th>Playlist</th>
                        <th>Qtd. músicas</th>
                    </tr>
                </thread>
                <tr ng-repeat="playlist in playlists.data">
                    <td><input type="checkbox" name={{playlist.id}}></td>
                    <td>{{playlist.name}}</td>
                    <td>{{playlist.qtd_musics}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>