<div id="workspace" class="row" ng-controller="playlistCtrl">

    <div class="col-3">

        <!-- FORM -->

        <h5 class="create-form-title"> Create your playlist</h5>

        <input type="text" class="create-form" ng-model="playlistField.name" placeholder="Playlist name">

        <fieldset id="music-group">
            <div ng-repeat="music in musicsField">
                <input
                       type="text"
                       class="create-form"
                       ng-model="musicsField[musicsField.indexOf(music)].name"
                       ng-focus="addMusicField();"
                       placeholder="Music {{musicsField.indexOf(music) + 1 }}">
                <bs-glyphicon ng-click="removeMusicField(musicsField.indexOf(music));"
                              style="color: #ffb1a0"
                              ng-show="musicsField[musicsField.indexOf(music)].name || verifyMusicEmpty(musicsField.indexOf(music))"
                              icon="glyphicon glyphicon-remove"></bs-glyphicon>
                <alert class="col-10" ng-show="verifyMusicEmpty(musicsField.indexOf(music));">
                    música inválida!
                </alert>
            </div>
        </fieldset>

        <div class="btn-group" style="margin: 20px 65px;">
            <button ng-click="resetFields();" class="btn btn-danger btn-sm">Reset</button>
            <button ng-disabled="!btnEnable();"
                    ng-click="createPlaylist();"
                    class="btn btn-success btn-sm">Create</button>
        </div>

    </div>

    <-- TABLE -->

    <div class="jumbotron col-9">
        <div class="row">
            <div class="col-9">
                <h1 class="title-workspace">Playlists</h1>
                <div class="">
                    <a ui-sref="playlists">Graph Visualization</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <search></search>
            <table class="table table-hover table-striped table-sm list">
                <thread>
                    <tr>
                        <th>Playlist</th>
                        <th>Qtd. músicas</th>
                        <th width="50"></th>
                    </tr>
                </thread>
                <tr ng-repeat="playlist in playlistsData.data">
                    <td>{{playlist.name}}</td>
                    <td>{{playlist.qtd_musics}}</td>
                    <td><bs-glyphicon ng-click="deletePlaylist(playlist.id);"
                                      style="color: #ffb1a0"
                                      icon="glyphicon glyphicon-remove"></bs-glyphicon></td>
                </tr>
            </table>
        </div>
    </div>
</div>