<link rel="stylesheet" href="app/components/sidebar/partials/playlistCreateForm/playlistCreateForm.css">

<div ng-controller="playlistCreateForm">
    <h5 class="create-form-title">Create your playlist</h5>

    <input type="text" class="create-form" placeholder="Playlist name">

    <fieldset id="music-group">
        <input ng-repeat="row in rows"
               onblur="add();"
               type="text" class="create-form" placeholder="Music {{rows.indexOf(row) + 1 }}">

    </fieldset>


 </div>